.form {
    display: flex;
    justify-content: center;
    align-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    text-indent: 10px;
    margin: 0 5px;
    align-content: space-around;
    border-radius: 25px;
    width: 130px;
    height: 150px;
    cursor: pointer;
}

.menu * {
    display: inline-block;
    width: 100%;
    height: 20px;
}

.menu input {
    visibility: hidden;
    visibility: hidden;
}
